<div class="row">
  <div class="col-lg-12">
    <h1>Status do Pagamentos</h1>
  </div>
</div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>
            <%= link_to new_admins_forsale_paystatus_path, class:"btn btn-success btn-circle" do %>
              <i class="fa fa-plus"></i>
            <% end %> 
          </th>
        </tr>
        </thead>
        <tbody>
        <% @paystatuses.each do |paystatus| %>
        <tr>
          <td><%= paystatus.type %></td>
            <td style="width: 110px">         
              <%= link_to edit_admins_forsale_paystatus_path(paystatus), class:"btn btn-primary btn-circle" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to admins_forsale_paystatus_path(paystatus), method: :delete, class:"btn btn-danger btn-circle", data: {confirm: "Certeza?"} do %>
                <i class="fa fa-minus"></i>
              <% end %>         
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
